<!DOCTYPE html>
<html>
  <head>
    <%- include('includes/head.ejs') %>
    <script src='/assets/js/form.js'></script>
    <script src='/assets/js/edit.js'></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="/assets/css/tags.css">
  </head>
  <body onload="load()">
    <%- include('includes/nav.ejs') %>
    <div id="content">
      <span class="header">
        <h1>Edit</h1>
      </span>
      <br>
      <div class="sidebar">
        <a class="link" data-target="#edit">Edit Details</a>
        <a class="link" data-target="#links">Change Links</a>
        <a class="link" data-target="#server-count">Server count</a>
        <a class="link" data-target="#manage">Manage Bot</a>
      </div>
      <div class="main-section">
        <div id="edit" class="section">
          <form class="center">
            <div class="input-holder">
              <input id="botid" class="input" type='text' placeholder=' ' value=<%= bot.botid %> readonly=''>
              <div class="placeholder">Client ID</div>
            </div>
            <br>
            <div class="input-holder">
              <input id="prefix" class="input" type='text' placeholder=' ' value=<%= bot.prefix %>>
              <div class="placeholder">Prefix</div>
            </div>
            <br>
            <div class="input-holder">
              <input id="description" class="input" maxlength=<%= maxSummaryLength %> type='text' placeholder=' ' value=<%= bot.description %>>
              <div class="placeholder">Summary</div>
            </div>
            <br>
            <div class="input-holder">
              <textarea id="longdesc" class="input" rows='7'><%= bot.long %></textarea>
              <div class="textarea-placeholder">Description</div>
            </div>
            <br>
            <div class="input-holder">
              <select id="tags" data-placeholder="Select tags" multiple>
                <% botTags.forEach((tag) => { %>
                  <% if (bot.tags && bot.tags.includes(tag)) { %>
                    <option selected><%= tag %></option>
                  <% } else { %>
                    <option><%= tag %></option>
                  <% } %>
                <% }); %>
              </select>
            <br>
            <div class="input-holder">
              <% if (bot.owners.primary == req.user.id) { %>
                <input id="owner-ids" class="input xinput" type='text' placeholder=' ' value=<%= bot.owners.additional.join(" ") %>>
              <% } else { %>
                <input id="owner-ids" class="input xinput" type='text' placeholder=' ' value=<%= bot.owners.additional.join(" ") %> disabled>
              <% } %>
              <div class="placeholder">Only the primary owner can edit additional owners</div>
            </div>
            <br>
            <div class="center-inline g-recaptcha" data-callback='updateToken' data-sitekey=<%= siteKey %> data-theme=<%= req.cookies["theme"] || "dark" %>></div>
            <a class="button submit-btn" onclick="submit()">Submit</a>
            <br>
          </form>
        </div>
        <div id="links" class="section">
          <form class="center">
            <div class="input-holder">
              <input id="invite" type="text" placeholder=" " value="<%= bot.invite %>" />
              <div class="placeholder">Custom Invite</div>
            </div>
            <br />
            <div class="input-holder">
              <input id="support" type="text" placeholder=" " value="<%= bot.support %>" />
              <div class="placeholder">Support Server</div>
            </div>
            <br />
            <div class="input-holder">
              <input id="website" type="text" placeholder=" " value="<%= bot.website %>" />
              <div class="placeholder">Website</div>
            </div>
            <br />
            <div class="input-holder">
              <input id="github" type="text" placeholder=" " value="<%= bot.github %>" />
              <div class="placeholder">Github Repository</div>
            </div>
            <br />
            <div class="input-holder">
              <input id="webhook" type="text" placeholder=" " value="<%= bot.webhook %>" />
              <div class="placeholder">Likes Webhook</div>
            </div>
            <br />
            <div class="center-inline g-recaptcha" data-callback="updateToken" data-sitekey="<%= siteKey %>" data-theme="<%= req.cookies['theme'] || 'dark' %>"></div>
            <a class="button submit-btn" onclick="submit()">Submit</a>
            <br />
          </form>
        </div>
        <div id="server-count" class="section">
          <span>
            <a id="auth" class="mini-btn button">Get Authorization token</a>
            <a id="reset" class="mini-btn button">Reset Authorization token</a>
          </span>
        </div>
        <div id="manage" class="section">
          <a id="confirm" class="mini-btn button button-red delete" href="#confirm" data-id="<%= bot.botid %>" data-name="<%= bot.username %>">Delete Bot</a>
        </div>
      </div>
      <%- include('./includes/footer.ejs'); %>
    </div>
  </body>
</html>


